.woocommerce

	h1,h2,h3,h4,h5,h6
		+my(30px, 15px)

	span.onsale
		+bgc($color-brand-4)

	ul.products li.product
		a
			+tr()
		.woocommerce-loop-product__title
			+ff('secondary')
			+c($color-brand-3)
			+fs(14px)

		.price
			+c($color-general)
			+fs(18px)
			+fw(bold)

			ins
				text-decoration: none

		img
			+tr()

		&:hover
			img
				opacity: 0.8

			.woocommerce-loop-product__title
				+c($color-brand-4)

	.shop_table
		+fs(14px)

		a
			text-decoration: none
			+fw(bold)
			+c($color-brand-4)

		.product-quantity
			font-family: unset

	.quantity
		input.qty
			+size(70px, 54px)
			border-radius: 6px
			border: 1px solid #ddd
	
	// Cart
	.woocommerce-cart-form
		table.cart img
			+w(100px)
		.product-name
			a
				+fs(16px)
				text-decoration: none
				+fw(bold)
				+c($color-brand-4)

		table.cart td.actions .coupon .input-text
			height: 30px
			min-width: 120px
			border-radius: 6px
			+fs(11px)
	
	// Single product
	.single-product
				
		.summary
			.price
				+mb(15px)
				span
					+c($color-brand-4)
					+ff('secondary')
					+fs(30px)

		.woocommerce-product-details__short-description
			+mb(15px)

		.cart
			+d(flex)
			+ai(center)

		.product_meta
			+fs(14px)
			> span
				+d(block)
				+offset('b', 15px)

				> span,
				> a
					+fw(bold)
					text-decoration: none
					+c($color-general)

	.woocommerce-error, .woocommerce-info, .woocommerce-message
		+fs(14px)
		a
			text-decoration: none
			+fw(bold)
			+tr()
			+c(inherit)

	.woocommerce-form-coupon
		+fs(14px)

		.input-text
			padding: 10px 15px

	.woocommerce-checkout
		label
			+fs(14px)
			+lh(1)
			+mb(10px)
		textarea,
		.input-text
			padding: 10px
			border-radius: 6px
			border: 1px solid #ddd
		.select2-container--default .select2-selection--single
			+fs(14px)
			+h(50px)
			.select2-selection__rendered
				line-height: 50px
			.select2-selection__arrow
				+h(50px)

	.woocommerce-checkout-payment
		+fs(12px)

		.woocommerce-terms-and-conditions-wrapper
			+mb(30px)

	.amount
		> span
			+fs(75%)