.nav__menu-item
	+d(block)

	+tr()

	a
		+d(block)
		+r()
		+c($color-white)
		+fw(bold)
		text-decoration: none
		+tr()

	+max(md)
		+mb(10px)

		a
			padding: 10px 15px


	+min(md)
		+d(inline-block)
		vertical-align: middle
		+offset('r', 15px)

		a
			+py(7px)
			+fs(14px)
			//+linkEffect3($color-brand-4)


		&.current-menu-item a,
		a:hover
			+c($color-brand-4)