.statistics
	+r()
	+mt(125px)
	+py(100px, 45px)
	+ta(center)
	+blackout()
	+c($color-white)

	+min(sm)
		+mt(200px)
		+py(100px, 60px)

	+min(md)
		+mt(280px)
		+py(175px, 75px)

	&__person
		+a(null, null, 85%)
		z-index: 2
		+max(sm)
			max-height: 160px
		+min(sm)
			bottom: 70%
		&_1
			left: 0

		&_2
			right: 0
			+min(sm)
				max-height: 400px
			+min(sm)
				max-height: 500px

	&__subtitle
		+mb(15px)
		+min(sm)
			+mb(30px)

	&__title
		+mb(45px)
		+fw(bold)
		+ff('secondary')
		text-transform: uppercase