.card
	+bgc($color-white)
	+ta(center)
	border-radius: 5px
	+c($color-brand-3)

	&__header
		+r(-20px)

		+min(md)
			top: -40px

	&__title
		+fs(14px)
		+ff('secondary')
		+px(25px)

		+max(sm)
			+mb(15px)

		+min(sm)
			min-height: 60px

	&__content
		+fs(14px)
		+px(15px)

		+max(sm)
			+pb(15px)

		+min(sm)
			min-height: 120px
			+d(flex)
			+jc(center)

		+min(md)
			+px(25px)
			min-height: 150px

	&-column
		+max(sm)
			+offset('b', 30px)
		+max(md)
			+offset('b', 60px)