.post
	+offset('b', 45px)
	
	&__inner
		+bgc($color-white)
		box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15)

	&__header
		&-image
			border-radius: 5px 5px 0 0
			+w(100%)

	&__body
		padding: 30px 15px
		+min(md)
			+px(30px)

	&__title
		+d(block)
		+mb(15px)
		+c($color-brand-3)
		text-decoration: none
		+fw(bold)
		+fs(16px)

		+min(sm)
			+fs(1.7vmax)

	&__preview
		+mb(30px)
		+fs(14px)
		+c($color-brand-3)

	&__link
		vertical-align: middle

	&__date
		+r()
		+d(inline-block)
		vertical-align: middle
		+pl(30px)
		+ml(30px)
		+fs(14px)

		&:before
			content: ""
			+a(50%, null, null, 0)
			transform: translateY(-50%)
			+size(22px, 27px)
			+bgi('../img/icon-date.png')