<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-9">
        <div class="row">
          {% set i = 0 %}
          {% for post in blog %}

            {% set i = i + 1 %}
            {% set class = (i > 1) ? "post_small col-sm-6" : "post_large" %}

            {{siteMacros.post("#{class} col-12", post)}}
            
          {% endfor %}
        </div>
        {{function('wp_pagenavi')}}
      </div>
      <div class="col-12 col-sm-4 col-md-3">
        {% include 'sidebar.twig' %}
      </div>
    </div>
  </div>
</section>