=blackout()
	z-index: 1
	background-size: cover
	+min(lg)
		@media only screen
			background-attachment: fixed
	&:before
		content: ""
		+a(0,0)
		+size(100%)
		+bgi('../img/bg-part.jpg', 0 0, repeat, unset)
		opacity: 0.9
		z-index: -1