<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8">
        {{post.content}}
      </div>
      <div class="col-12 col-sm-3">
        {{shop_sidebar}}
      </div>
    </div>
  </div>
</section>