{% import '_macros.twig' as siteMacros %}
{% include 'html-header.twig' %}
</head>
<body class="{{body_class}}" data-template="base.twig">
  {% include 'preloader.twig' %}
	<main class="site" style="display: none">
    {% include 'nav.twig' %}
		{% block content %}
			Sorry, no content
		{% endblock %}

		{% include 'footer.twig' %}
	</main>
	{{ function('wp_footer') }}
</body>
</html>