<div class="section__header">
  {% if title %}
  <h3 class="section__title about-idea__title">{{title}}</h3>
  {% endif %}
  {% if subtitle %}
    <p class="section__subtitle about-idea__subtitle">{{subtitle}}</p>
  {% endif %}
</div>